<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269543288513-glp2oeit5mmvtcoj9u86u0cg1onnk8nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269543288513-glp2oeit5mmvtcoj9u86u0cg1onnk8nv</string>
	<key>API_KEY</key>
	<string>AIzaSyBzmMo4uXaHkqGtsuiBwn2Qe6MJT7lIkBk</string>
	<key>GCM_SENDER_ID</key>
	<string>269543288513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-e0a16</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-e0a16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269543288513:ios:686f7ef9ea91d2605c2e40</string>
</dict>
</plist>